[Desktop Entry]
Type=Application
Name=Oozy Welcome
Comment=Welcome message for Oozy Linux live session
Exec=/usr/local/bin/oozy-welcome
Icon=help-about
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
