[Desktop Entry]
Type=Application
Version=1.0
Name=Install Oozy Linux
GenericName=System Installer
Comment=Install Oozy Linux on your computer
Exec=sudo -E calamares
Icon=system-software-install
Terminal=false
Categories=System;Settings;
Keywords=install;calamares;oozy;
StartupNotify=true
